.perfil {
  margin-right: 30px;
  height: 40px;
  border-radius: 4px;
}

.logo {
  height: 35px;
  margin-left: 30px;
}

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: transparent;
}

.black {
  background-color: #141414e5;
  transition: all ease 0.2s;
}
